.search-panel {
  padding: 24px;
  margin-bottom: 16px;
  background: #fff;
  border-radius: 8px;

  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-form-item-label {
    padding-bottom: 6px;

    > label {
      font-size: 14px;
    }
  }

  .search-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4px;
  }
}