<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CategoryMapper">
    <select id="queryByType" resultType="com.shop.entity.Category">
        select id, type, name, sort, status, create_time, update_time, create_user, update_user
        from category
        where status = 1
        <if test="type != null">
            and type = #{type}
        </if>
        order by sort asc,update_time desc
    </select>

    <select id="pageQuery" resultType="com.shop.entity.Category">
        select id, type, name, sort, status, create_time, update_time, create_user, update_user
        from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by sort asc , update_time desc
    </select>

    <select id="selectMenu" resultType="com.shop.dto.MenuItemDTO">
        select c.id as categoryId, c.type, c.name as categoryName, c.sort,
        d.id, d.name, d.price, d.image, d.description,
        CASE
          WHEN EXISTS ( SELECT 1 FROM dish_flavor df WHERE df.dish_id = d.id )
          THEN 1
          ELSE 0
        END AS has_flavor
        from category c
        join dish d on c.id = d.category_id
        where c.status = 1 and d.status = 1
        union all
        select c.id as categoryId, c.type, c.name as categoryName, c.sort,
        s.id, s.name, s.price, s.image, s.description, 0 AS has_flavor
        from category c
        join setmeal s on c.id = s.category_id
        where c.status = 1 and s.status = 1
        order by sort, categoryId, id
    </select>

    <insert id="insert">
        insert into category
        (type, name, sort, status, create_time, update_time, create_user, update_user)
        VALUES
        (#{type}, #{name}, #{sort}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update category
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>
</mapper>